:host {
  --base-color: #fff;
  --undone-color: #e1e1e1;
  --done-color: #50c690;
  --transparent-color: #ffffff00;
  /*--percentage-deg: ((180deg / 100) * var(--percentage));*/
  --width: 20px;
  --margin-inside: 3px;
  --font-inside-size: 6px;
  --inside-width: calc(var(--width) - var(--margin-inside) * 2);
  --percentage: 0;
  --percentage-deg: calc(180deg / 100 * var(--percentage));
}

.circle-wrap {
  width: var(--width);
  height: var(--width);
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: var(--width);
  height: var(--width);
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, var(--width), var(--width), calc(var(--width) / 2));
}
.circle-wrap .circle .mask .fill {
  clip: rect(0px, calc(var(--width) / 2), var(--width), 0px);
  background-color: var(--done-color);
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(var(--percentage-deg));
}
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--percentage-deg));
  }
}

.circle-wrap .inside-circle {
  width: var(--inside-width);
  height: var(--inside-width);
  line-height: var(--inside-width);
  border-radius: 50%;
  background: var(--base-color);
  text-align: center;
  margin-top: var(--margin-inside);
  margin-left: var(--margin-inside);
  position: absolute;
  z-index: 100;
  font-weight: 500;
  font-size: var(--font-inside-size);
  color: var(--done-color);
}
